<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.co.sist.mkjg.clinic.dao.clinicMapper">
	<select id="selectNoticeTitle" resultType="kr.co.sist.mkjg.clinic.domain.NoticeTitle">
	SELECT NTITLE
	FROM (SELECT ROWNUM AS RNUM, NTITLE, REG_DATE
			FROM (SELECT NTITLE, REG_DATE
					FROM NOTICE
					WHERE RECIEVER != 1 
					ORDER BY REG_DATE DESC))
	WHERE RNUM BETWEEN 1 AND 4
	</select>
	<select id="selectTodayReg" resultType="kr.co.sist.mkjg.clinic.domain.TodayReg">
	SELECT rnum, pid, btime, bdate
	FROM	(SELECT ROWNUM rnum, PID, BTIME, bdate
				FROM (SELECT PID, BTIME, TO_CHAR(BDATE,'YYYY-MM-DD') AS BDATE, TO_CHAR(SYSDATE,'YYYY-MM-DD') AS TODAY
				FROM BOOK_LIST
				WHERE BLN = #{bln}
				ORDER BY BTIME desc)
				WHERE BDATE = TODAY)
	WHERE RNUM BETWEEN 1 AND 4
	</select>
	<select id="selectCeoBln" resultType="String">
	SELECT MIN(BLN) AS BLN
	FROM  CLINIC
	WHERE CID = #{CID}
	</select>
	<select id="selectEmpBln" resultType="String">
	SELECT BLN
	FROM EMP
	WHERE EID = #{CID}
	</select>
	<select id="selectCeoName" resultType="String">
	SELECT CNAME
	FROM CEO
	WHERE CID = #{CID}
	</select>
	<select id="selectEmpName" resultType="String">
	SELECT ENAME
	FROM EMP
	WHERE EID = #{CID}
	</select>
	<select id="selectWeekRegDayCnt" resultType="kr.co.sist.mkjg.clinic.domain.WeekRegDayCnt">
	<![CDATA[
	SELECT DAY, COUNT(*) AS CNT
	FROM	(SELECT TO_CHAR(BDATE,'DY') AS DAY, TO_CHAR(BDATE,'YYYY-MM-DD') AS BDATE
			FROM BOOK_LIST
			WHERE BDATE >= TRUNC(SYSDATE, 'IW')
			AND BDATE < TRUNC(SYSDATE, 'IW') + 7
			AND BLN = #{BLN} )
	GROUP BY DAY,BDATE
	]]>
	</select>
	<select id="selectCIdCheck" resultType="int">
	SELECT NVL(COUNT(*),0)
	FROM CEO
	WHERE CID = #{CID}
	</select>
	<insert id="insertCeo" parameterType="kr.co.sist.mkjg.clinic.vo.CeoAddJoin" statementType="CALLABLE">
	insert into CEO (CID, PW, CNAME, POST, ADDR, ADDR_DETAIL, EMAIL, BIRTHDAY, TEL, CIP, LOC_X, LOC_Y)
	values( #{cId}, #{cPass}, #{cName}, #{cPost}, #{cAddr1}, #{cAddr2}, #{cMail}, #{cBirth}, #{cPhone}, #{cIp}, #{loc_X}, #{loc_Y} )
	</insert>
	<select id="selectRevList" resultType="kr.co.sist.mkjg.clinic.domain.RevList" parameterType="kr.co.sist.mkjg.clinic.vo.RevPage">
	select rnum, pname, tel, pet_name, pet_type, bdate, btime, aprvl_yn, bseq
	from	(select rownum rnum, r, pname, tel, pet_name, pet_type, bdate, btime, aprvl_yn, bseq
				from		(select rownum as r, pname, tel, pet_name,
							 	case when pet_type ='c' then '고양이'
									  when pet_type ='d' then '강아지'
										else '기타' end pet_type
										, bdate, btime, aprvl_yn, bseq
							from (select p.pname, p.tel, bl.pet_name, bl.pet_type, to_char(bl.bdate,'yyyy-mm-dd') as bdate, bl.btime, bl.aprvl_yn, to_char(bl.reg_date,'yyyy-mm_dd') as reg_date, to_char(sysdate,'yyyy-mm-dd') as today, bseq
										from book_list bl, protector p
										where bl.pid = p.pid and bln = #{bln}
										order by bdate, btime, aprvl_yn desc)
							where bdate >= today
							order by r desc))
	where r between #{startNum} and #{endNum}<include refid="revSearch"></include>
	order by r asc
	</select>
	<sql id="revSearch">
		<if test="status != null">
			<if test="status=='고객명'"> and pname like '%' || #{search} || '%'</if>
			<if test="status=='예약날짜'"> and bdate like '%' || #{search} || '%'</if>
			<if test="status=='전화번호'"> and tel like '%' || #{search} || '%'</if>
		</if>
	</sql>
	<select id="selectRegCnt" resultType="int">
	SELECT count(*) as totalNum
	FROM (SELECT TO_CHAR(BL.BDATE,'YYYY-MM-DD') AS BDATE, TO_CHAR(SYSDATE,'YYYY-MM-DD') AS TODAY, pname, tel
			FROM BOOK_LIST BL, PROTECTOR P
			WHERE BL.PID = P.PID AND BLN = #{bln} <include refid="revSearch"></include>) 
	WHERE BDATE >= TODAY
	</select>
	<select id="selectWeekQgcCnt" resultType="kr.co.sist.mkjg.clinic.domain.WeekQGCDayCnt">
	<![CDATA[
SELECT CASE WHEN DAY='월' THEN 1
				 WHEN DAY='화' THEN 2
				WHEN DAY='수' THEN 3
				WHEN DAY='목' THEN 4
				WHEN DAY='금' THEN 5
				WHEN DAY='토' THEN 6
				WHEN DAY='일' THEN 7
			END AS DAY, COUNT(*) AS CNT
FROM		(SELECT TO_CHAR(QDATE,'DY') AS DAY, TO_CHAR(QDATE,'YYYY-MM-DD') AS QDATE
			FROM QUESTION_GC
			WHERE QDATE >= TRUNC(SYSDATE, 'IW')
			AND QDATE < TRUNC(SYSDATE, 'IW') + 7
			AND BLN =#{bln})
GROUP BY DAY, QDATE
	]]>
	</select>
	<update id="updateBookAprvl" parameterType="String">
	update book_list
	set aprvl_yn = #{aprvl}
	where bseq = #{bseq}
	</update>
	<select id="selectUseHistory" resultType="kr.co.sist.mkjg.clinic.domain.UseHistoryList" parameterType="kr.co.sist.mkjg.clinic.vo.UseHistory">
	select num, pname, tel, pet_name, case when pet_type ='c' then '고양이'
										  when pet_type ='d' then '강아지'
											else '기타' end pet_type, bdate, bseq
	from	(select rownum num, rnum, pname, tel, pet_name, pet_type, bdate, bseq
			from	(select rownum rnum, pname, tel, pet_name, pet_type, bdate, bseq
					from	(select pname, tel, pet_name, pet_type, to_char(bdate,'yyyy-mm-dd') bdate, to_char(sysdate,'yyyy-mm-dd') as today, bl.bseq
							from book_list bl, protector p
							where bl.pid = p.pid
							and bln = #{bln}
							order by bdate desc)
					<![CDATA[ where bdate <= today ]]>	<include refid="useSearch"></include>
					order by rnum desc))
	where rnum between #{startNum} and #{endNum} 
	order by num desc
	</select>
	<sql id="useSearch">
		<if test="status != null">
			<if test="status=='고객명'">and pname like '%' || #{search} || '%'</if>
			<if test="status=='이용날짜'">and bdate like '%' || #{search} || '%'</if>
			<if test="status=='전화번호'">and tel like '%' || #{search} || '%'</if>
		</if>
	</sql>
	<select id="selectUseHistoryCnt" resultType="int">
	select count(*) as cnt
	from	(select to_char(bdate,'yyyy-mm-dd') bdate, to_char(sysdate,'yyyy-mm-dd') as today
			from book_list bl, protector p
			where bl.pid = p.pid
			and bln = #{bln} <include refid="useSearch"></include>)
	<![CDATA[	
	where bdate <= today
	]]>		
	</select>
	<select id="selectMtrList" resultType="kr.co.sist.mkjg.clinic.domain.MtrList">
	<![CDATA[	
	select rnum, pname, tel, pet_name, case when pet_type ='c' then '고양이'
										  when pet_type ='d' then '강아지'
											else '기타' end pet_type, mdate, msg, mid
	from	(select rownum as r, rnum, pname, tel, pet_name, pet_type, mdate, msg, mid
			from	(select rownum rnum, pname, tel, pet_name, pet_type, mdate, msg, mid
					from	(select p.pname, p.tel, bl.pet_name, bl.pet_type, msg, mseq, to_char(mdate,'yyyy-mm-dd') mdate, to_char(sysdate,'yyyy-mm-dd') as today, mid
							from MNTR m, book_List bl, PROTECTOR p
							where m.bseq = bl.bseq and bl.pid = p.pid
							and bl.bln = #{bln}
							order by mdate)
					where mdate <= today
					order by rnum desc))
	where r between #{startNum} and #{endNum}
		]]>
	<include refid="search"></include>
	</select>
	<sql id="search">
		<if test="status != null">
			<if test="status=='고객명'">and pname like '%' || #{search} || '%'</if>
			<if test="status=='이용날짜'">and mdate like '%' || #{search} || '%'</if>
			<if test="status=='등록이'">and mid like '%' || #{search} || '%'</if>
		</if>
	</sql>
	<select id="selectMtrTotalCnt" resultType="int">
	<![CDATA[		
	select count(*) as cnt
	from	(select p.pname, p.tel, bl.pet_name, bl.pet_type, msg, mseq, to_char(mdate,'yyyy-mm-dd') mdate, to_char(sysdate,'yyyy-mm-dd') as today, mid
			from MNTR m, book_List bl, PROTECTOR p
			where m.bseq = bl.bseq and bl.pid = p.pid
			and bl.bln = #{bln}
			order by bdate)
	where mdate <= today ]]> <include refid="search"></include>
	</select>
	<select id="selectUserQnaList" resultType="kr.co.sist.mkjg.clinic.domain.UserQnaList"> 
	select rnum, pname, qtitle, case when qtype ='1' then '진료문의'
			when qtype ='2' then '날짜문의' when qtype='3' then '상품문의' else '기타' end qtype, qdate, rstatus, qgc_seq
	from	(select rownum rnum, rnumber, pname, qtitle, qtype, qdate, rstatus, qgc_seq
				from	(select rownum rnumber, pname, qtitle, qtype, qdate, rstatus, qgc_seq
					from (select p.pname, qg.qtitle, qg.qtype, to_char(qg.qdate,'yyyy-mm-dd') qdate, qg.rstatus ,qg.qgc_seq
							from QUESTION_GC qg, protector p
							where qg.pid = p.pid and bln = #{bln}
							order by qdate desc, rstatus)
							<include refid="userSearch"></include> 
							order by rnumber desc)
							order by rnumber) 
	where rnumber between #{startNum} and #{endNum}
	</select>
		<sql id="userSearch">
		<if test="status != null">
			<if test="status=='고객명'">where pname like '%' || #{search} || '%'</if>
			<if test="status=='타입'">where qtype like '%' || #{search} || '%'</if>
			<if test="status=='문의일자'">where qdate like '%' || #{search} || '%'</if>
			<if test="status=='답변여부'">where rstatus like '%' || upper(#{search}) || '%'</if> 
		</if>
	</sql>
	<select id="selectUserQnaTotalCnt" resultType="int">
	select count(*)
	from	(select rownum r, rnum, pname, qtitle, qtype, qdate, rstatus, qgc_seq
			from	(select rownum rnum, pname, qtitle, qtype, qdate, rstatus, qgc_seq
					from (select p.pname, qg.qtitle, qg.qtype, qg.qdate, qg.rstatus ,qg.qgc_seq
							from QUESTION_GC qg, protector p
							where qg.pid = p.pid and bln = #{bln} 
							order by qdate)
							<include refid="userSearch"></include>))
	</select>
	<select id="selectMgrQnaList" resultType="kr.co.sist.mkjg.clinic.domain.MgrQnaList">
	select rnum, qtitle, qtype, wid, to_char(qdate,'yyyy-mm-dd') qdate, rstatus, qua_seq
	from	(select rownum r, rnum, qtitle, case when qtype ='1' then '홈페이지'
			when qtype ='2' then '오류' when qtype='3' then '등록' else '기타' end qtype, wid, qdate, rstatus, qua_seq
			from	(select  rnum, qtitle, qtype, wid, qdate, rstatus, qua_seq
					from	(select rownum rnum, qtitle, qtype, wid, qdate, rstatus, qua_seq
							from	(select qtitle, qtype, wid, qdate, rstatus, qua_seq
									from QUESTION_UA
									order by qdate))
					order by qdate desc))
	where r between #{startNum} and #{endNum} and wid = #{cId} <include refid="mgrSearch"></include>
	order by rnum desc
	</select>
	<sql id="mgrSearch">
		<if test="status != null">
			<if test="status=='문의타입'">and qtype like '%' || #{search} || '%'</if>
			<if test="status=='문의자'">and wid like '%' || #{search} || '%'</if>
			<if test="status=='문의날짜'">and rdate like '%' || #{search} || '%'</if>
			<if test="status=='답변유무'">and rstatus like '%' || upper(#{search}) || '%'</if>
		</if>
	</sql>
	<select id="selectMgrQnaTotalCnt" resultType="int">
	select count(*) cnt
	from	(select rownum r, rnum, qtitle, qtype, wid, rdate, rstatus, qua_seq
			from	(select  rnum, qtitle, qtype, wid, rdate, rstatus, qua_seq
					from	(select rownum rnum, qtitle, qtype, wid, rdate, rstatus, qua_seq
							from	(select qtitle, qtype, wid, rdate, rstatus, qua_seq
									from QUESTION_UA
									order by rdate))
					order by rdate desc))
	where wid = #{cId} <include refid="mgrSearch"></include>
	</select>
	<insert id="insertClinic" parameterType="kr.co.sist.mkjg.clinic.vo.ClnRegData" statementType="CALLABLE">
	INSERT INTO CLINIC	( BLN,CID,CLN_NAME,DIRECTOR,TEL,EMAIL,
		OPEN_TIME,	CLOSE_TIME,POST,SIDO,SIGUNGU,EMD,X,Y,ADDR_DETAIL,
		SUBJECT,NIGHT_YN,INTRO,CUT_YN,HSTL_YN,CIP,APRVL_DATE	)
	VALUES
	(#{cBln},#{cId},#{hName},#{cName},#{cPhone},#{cMail},
		rpad(#{openTime},5,0),rpad(#{endTime},5,0),#{cPost},'서울','관악구', '봉천동', #{loc_x},#{loc_y},#{cAddr2}, #{subject}, #{night},
		#{intro}, #{beauty}, #{hosCare}, '127.0.0.1', sysdate)
	</insert>
	<insert id="insertNightClinic" parameterType="kr.co.sist.mkjg.clinic.vo.ClnRegData" statementType="CALLABLE">
		INSERT	INTO NIGHT_CARE(BLN,NOPEN,NCLOSE,DAY_OF_WEEK)
		VALUES (#{cBln},#{openNightTime},#{endNightTime},#{week})
	</insert>
	<select id="idPwCheck" parameterType="kr.co.sist.mkjg.clinic.vo.ClinicIdCheck" resultType="int">
	select count(*) cnt
	from ceo
	where cid =#{cId}
	and pw = #{pass} 
	</select>
	<select id="empIdPwCheck" parameterType="kr.co.sist.mkjg.clinic.vo.ClinicIdCheck" resultType="int">
	select count(*) cnt
	from emp
	where EID = #{cId}
	and pw = #{pass}
	</select>
	<insert id="insertClnImg" parameterType="kr.co.sist.mkjg.clinic.vo.InsertClnImg" statementType="CALLABLE">
	insert into cln_img ( bln, path, reg_id, reg_ip )
	values ( #{bln}, #{path}, #{reg_id}, #{reg_ip} )
	</insert> 
	<insert id="insertClnQna" parameterType="kr.co.sist.mkjg.clinic.vo.MgrQnaData" statementType="CALLABLE">
	insert into QUESTION_UA ( QUA_SEQ, QTITLE, QTEXT, WID, WTYPE, QDATE, QTYPE, WIP)
	values ( qua_seq, #{title}, #{text}, #{cId}, #{ceoCheck}, to_char(sysdate,'yyyy-mm-dd'), #{qtype}, '127.0.0.1' )
	</insert>
	<select id="selectMgrQnaAnswer" parameterType="String" resultType="kr.co.sist.mkjg.clinic.domain.MgrQnaAnswer">
	select qtitle, qtext, wid, qdate, case when qtype ='1' then '홈페이지'
			when qtype ='2' then '오류' when qtype='3' then '등록' else '기타' end qtype, rdate, reply
	from QUESTION_UA
	where qua_seq = #{qua_seq}
	</select>
	<select id="selectUserQna" parameterType="String" resultType="kr.co.sist.mkjg.clinic.domain.UserQnaView">
    select qtitle, qtext, pid, to_char(qdate,'yyyy-mm-dd') qdate, case when qtype ='1' then '진료문의'
			when qtype ='2' then '날짜문의' when qtype='3' then '상품문의' else '기타' end qtype, qgc_seq
    from QUESTION_GC
    where qgc_seq = #{qgc_seq}
	</select>
	<select id="selectUserQnaReadOnly" parameterType="String" resultType="kr.co.sist.mkjg.clinic.domain.UserQnaAnswerReadOnly">
	select qtitle, qtext, pid, to_char(qdate,'yyyy-mm-dd') qdate, case when qtype ='1' then '진료문의'
			when qtype ='2' then '날짜문의' when qtype='3' then '상품문의' else '기타' end qtype, reply, to_char(rdate,'yyyy-mm-dd') rdate, rid
    from QUESTION_GC
    where qgc_seq = #{qgc_seq}
	</select>
	<insert id="insertUserQnaAnswer" parameterType="kr.co.sist.mkjg.clinic.vo.UserQnaAnswer" statementType="CALLABLE">
	update QUESTION_GC
	set reply = #{reply}, rstatus = 'Y', rdate = sysdate ,rid = #{rid}, rip = #{rip}
	where qgc_seq = #{qgc_seq}
	</insert>
	<select id="ceoIdSearch" parameterType="kr.co.sist.mkjg.clinic.vo.IdSearch" resultType="String">
	select cid
	from ceo
	where cname = #{cName} 
	and tel = #{cPhone}
	and birthday = #{cBirth}
	</select>
	<select id="empIdSearch" parameterType="kr.co.sist.mkjg.clinic.vo.IdSearch" resultType="String">
	select eid
	from emp
	where ename = #{cName}
	and tel = #{cPhone}
	and birthday = #{cBirth}
	</select>
	<select id="ceoPwSearch" parameterType="kr.co.sist.mkjg.clinic.vo.PwSearch" resultType="String">
	select cid
	from ceo
	where cname = #{cName} 
	and tel = #{cPhone}
	and birthday = #{cBirth}
	and cid = #{cId}
	</select>
	<select id="empPwSearch" parameterType="kr.co.sist.mkjg.clinic.vo.PwSearch" resultType="String">
	select eid
	from emp
	where ename = #{cName}
	and tel = #{cPhone}
	and birthday = #{cBirth}
	and eid = #{cId}
	</select>
	<select id="clinicAprvl" parameterType="String" resultType="String">
	select aprvl_yn
	from clinic
	where bln = #{bln}
	</select>
	<update id="ceoPassUpdate" parameterType="kr.co.sist.mkjg.clinic.vo.CIdCPass">
	update ceo
	set pw = #{cPass}
	where cid = #{cId}
	</update>
	<update id="empPassUpdate" parameterType="kr.co.sist.mkjg.clinic.vo.CIdCPass">
	update emp
	set pw = #{cPass}
	where eid = #{cId}
	</update>
	<insert id="mtrInsert" parameterType="kr.co.sist.mkjg.clinic.vo.MtrInsert" statementType="CALLABLE">
	insert into mntr (MSEQ, BSEQ, MID, MIP, MDATE, MSG, bln)
	values (M_SEQ, #{bseq}, #{mid}, #{mip}, sysdate, #{reply}, #{bln} )
	</insert>
	<select id="mseq" parameterType="kr.co.sist.mkjg.clinic.vo.MtrMseq" resultType="String">
	select max(mseq) mseq
	from mntr
	where mid = #{cid}
	and to_char(mdate,'yyyy-mm-dd') = #{date}
	and bln = #{bln}
	</select>
	<insert id="mtrImgInsert" parameterType="kr.co.sist.mkjg.clinic.vo.MtrImgInsert"  statementType="CALLABLE">
	insert into mntr_img ( mseq, path )
	values( #{mseq}, #{path} )
	</insert>
</mapper>